#Credentials foler
credentials/

#markdown files except README*.md, but ignore README-secret.md
*.md
!README*.md
README-secret.md

#Mac only system file
.DS_Store

# Logs
logs
*.log
.log*

#.env
.env

#node dependencies
node_modules/

#Docker ignore
#.dockerignore

#package-lock
package-lock.json

#tsc output folder
out/

#tsx incremental file
tsconfig.tsbuildinfo